.contenedor {
    margin: 0 20px 0 20px;
}

.admin-btn {
    background-color: #006dc0 !important;
    color: #e4e4e4 !important;
    margin-right: 4.1%;
}

.agregar-btn {
    margin-top: 10px;
    margin-bottom: 50px;
}



@media (max-width: 768px) {
    .contenedor {
        margin: 0;
    }
}

@media (max-width: 576px) {
    .admin-btn {
        width: 12vw;
        height: 12vw;
        display: flex !important;
        justify-content: center;
        align-items: center;
        margin: 0 !important;
        padding: 0 !important;
    }

    .admin-btn>svg {
        margin: 0 !important;
        padding: 0 !important;
        width: 8vw;
        height: 8vw;
    }

    .admin-btn>svg>path {
        margin: 0 !important;
        padding: 0 !important;
    }
}

@media (max-width: 420px) {
    .svg-inline--fa {
        vertical-align: 0.1em;
    }
}

@media (max-width: 420px) {
    .svg-inline--fa {
        vertical-align: 0.2em;
    }
}