.miBoton{
    background-color: #006dc0 !important;
    color: #e4e4e4 !important;
}

.admin-btn{
    margin-left: 81%; 

}

.agregar-btn{
    margin-top: 10px;
    margin-bottom: 50px;
}


/* pagina articulos */

.tamanio-titulo {
    font-size: 11vw;
}

@media (min-width: 800px) {
    .tamanio-titulo {
        font-size: 5vw;
    }
  }


  @media (max-width: 500px) {
    .tamanio-titulo {
        font-size: 15vw;
    }
  }